<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!-- this is main view of menuView -->
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button><!-- enable back button --></ion-nav-back-button>

      <ion-nav-button side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-button>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- this is setting of swipe direction of side menu: left -->
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu!</h1>
    </ion-header-bar>

    <ion-content>
    <ion-list>
      <ion-item menu-close href="#/app/first">
        安安好,first
      </ion-item>
      <ion-item menu-close href="#/app/second">
        你好
      </ion-item>
      <ion-item menu-close href="#/app/third">
        嗡嗡嗡
      </ion-item>
    </ion-list>
  </ion-content>
  </ion-side-menu>

</ion-side-menus>